* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #eeeeee;
}

button {
  margin-top: 15px;
  margin-right: 30px;
  padding: 10px 10px;
  flex-basis: auto;
}

.like i {
  font-size: 1.5em;
}

button:hover,
.like i:hover {
  cursor: pointer;
}

nav {
  display: flex;
  text-align: center;
  justify-content: center;
  background: rgb(84, 126, 224);
  background: linear-gradient(315deg, rgba(84, 126, 224, 1) 0%, rgba(84, 180, 224, 1) 33%, rgba(28, 197, 220, 1) 100%);
  min-height: 5vh;
}

nav ul {
  display: flex;
  list-style-type: none;
}

ul li {
  list-style: none;
  font-size: 1.1rem;
  margin-top: 10px;
}

nav ul li {
  margin-top: 0;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  color: #4b5488;
}

h1 {
  font-size: 3em;
  margin-bottom: 100px;
  background-color: rgba(84, 126, 224, 1);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

footer {
  background: rgb(84,126,224);
  background: linear-gradient(315deg, rgba(84,126,224,1) 0%, rgba(84,180,224,1) 33%, rgba(28,197,220,1) 100%);;
  height: 10vh;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer p {
  margin-top: 4vh;
  color: #fff;
}
#logo a{
  float: left;
  font-weight: bolder;
  color: tomato;
}

.diagonal {
  background-color: #eee;
  height: 10vh;
  position: relative;
  top: -50px;
  z-index: 10000;
  transform: rotate(2deg);
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
}

.domAnime {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  margin: 20px 30px;
  padding: 20px 30px;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  background-color: #fff;
  transition: .1s;
}

.item:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.anime-title {
  width: 230px;
}

.interaction {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.like {
  padding-top: 15px;
  flex-basis: auto;
}

.not_liked {
  color: #bdbdbd;
}

.liked {
  color: rgb(243, 71, 71);
}

.num_like {
  text-align: center;
}

.popup {
  position: fixed;
  z-index: 99;
  margin: 5vh 32.5vw;
  width: 35vw;
  background-color: #272a31;
}

.popup_container {
  display: flex;
  position: relative;
  top: 0;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 35vw;
  background-color: #272a31;
  color: white;
  border-radius: 8px;
  overflow-y: scroll;
}

.popup_container > img {
  width: 18vw;
  margin-top: 5vh;
}

h4 {
  font-size: 1.7em;
  width: 30vw;
  margin: 2.5vh auto;
  text-align: center;
}

.info_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25vw;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 20vw;
}

input,
textarea {
  width: 15vw;
  height: 2.5vh;
  margin: 10px auto;
}

textarea:focus {
  width: 20vw;
  height: 10vh;
}

#close_popup {
  position: absolute;
  top: 20px;
  right: 20px;
}

.comment_title {
  font-size: 1.2rem;
  margin: 50px auto 10px auto;
}

.comments_container {
  width: 20vw;
  margin: 20px auto;
}

.comment_ul > li {
  margin-top: 10px;
  border: 1px solid white;
  padding: 10px;
}

.comment_ul > li > p {
  font-size: 0.9rem;
}

.username {
  font-size: 1rem;
  font-weight: 600;
}

.username_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
